body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 900px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 50px;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

li {
    margin: 0 10px;
<<<<<<< Updated upstream
}

.nav button {
    border: 2px solid black;
    border-radius: 5px;
    padding: 8px 25px;
    background-color: transparent;
    cursor: pointer;
}

button:hover {
    background-color: mediumturquoise;
    color: #fff;
}
=======
}
>>>>>>> Stashed changes
a {
    text-decoration: none; 
    color: black;
}

.fa-heart,
.fa-user {
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
}

main {
    width: 100%;
    max-width: 900px; 
    margin: 0 auto;
    padding: 20px;
}

.home {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.home img {
    width: 100%; 
    height: auto; 
    filter: brightness(50%);

}

.banner-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 25px;
}

h2 {
text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.lieux {
    border: 2px solid ;
    border-radius: 5px;
    background-color: turquoise;
}

.lieux .border {
    position: relative;
}

.lieux img {
    width: 100%;
    height: auto;
    filter: brightness(50%);
}

.lieux h3 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    margin: 0;
    color: #fff;
    font-size: 25px;
}

.lieux p {
    padding: 8px;
    margin: 0;
    color: black;
}

iframe {
    width: 100%;
    height:500px ;
}

footer {
    color: black;
    text-align: center;
    padding: 20px;
    position: relative;
}
  
.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    color: black;
    font-size: 30px;
}
  
.social-icons a:hover {
    color: turquoise;
}

.up {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: turquoise;
    font-size: 50px;
    text-decoration: none;
}

.up:hover {
    animation: skiplinkmove 0.3s ease-in-out;
    animation-iteration-count: infinite;
}