body {
    font-family: 'Josefin Sans', sans-serif;    max-width: 900px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 50px;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

li {
    margin: 0 10px;
}

.nav a {
    border: 2px solid black;
    border-radius: 5px;
    padding: 8px 25px;
    background-color: transparent;
    cursor: pointer;
}

.nav a:hover {
    background-color: mediumturquoise;
    color: #fff;
}

a {
    text-decoration: none; 
    color: black;
}

.fa-heart,
.fa-user {
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
}

main {
    width: 100%;
    max-width: 900px; 
    margin: 0 auto;
    padding: 20px;
}

.home {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.home img {
    width: 100%; 
    height: auto; 
    filter: brightness(50%);

}

.banner-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 25px;
}

h2 {
text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.lieux {
    border: 2px solid ;
    border-radius: 5px;
    background-color: turquoise;
}

.lieux .border {
    position: relative;
}

.lieux img {
    width: 100%;
    height: auto;
    filter: brightness(50%);
}

.lieux h3 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    margin: 0;
    color: #fff;
    font-size: 25px;
}

.lieux p {
    padding: 8px;
    margin: 0;
    color: black;
}

iframe {
    border: 1px solid black;
    width: 100%;
    height:500px;
}

audio {
    width: 100%;
}

video {
    width: 100%;
}

footer {
    color: black;
    text-align: center;
    padding: 20px;
    position: relative;
}
  
.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    color: black;
    font-size: 30px;
}
  
.social-icons a:hover {
    color: turquoise;
}

.up {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: turquoise;
    font-size: 50px;
    text-decoration: none;
}

.up:hover {
    animation: skiplinkmove 0.3s ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes skiplinkmove {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
}
  
.up i {
    vertical-align: middle;
}

.titre {
    text-align: center;
}

.titre h3 {
    font-weight: lighter;
}

.hotels {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    background-color: turquoise;
    margin-bottom: 40px;
    border: solid black;
    border-radius: 5px;
}

.hotel img {
    width: 100%; 
    height: 100%;
}

.description h3 {
    font-size: 30px;
}

.description {
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    align-items: center; 
    margin-bottom: 5px;
}

.button-container a {
    background-color: #fff;
    padding: 5px;
    border: 1px solid black;
    border-radius: 3px;
}

.project {
    background-color: turquoise;
    padding: 8px;
    border: solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}
.form, .message, .tourist, .sejour {
    margin: auto;
    max-width: 600px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.form input, .tourist select, .sejour select {
    width: 100%;
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}

.age p {
    text-align: center;
}

.voyage p {
    text-align: center;
}


.age input, .voyage input{
    margin-bottom: 10px;
    margin-left: 160px;
}

.message textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
}

.envoyer {
    width: 100%;
    text-align: center;
}

.envoyer input {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.envoyer .re {
    background-color: grey;
    color: white;
}

.envoyer input:hover {
    background-color: white;
    color: black;
    border: 2px solid turquoise;
}

fieldset{
    padding: 10px;
}